{% extends 'base.html' %} {% block body %}

<hr />
<main>
  <div class="row">
    <div class="col-4">
      <img
        class="img-fluid"
        src="{{ url_for('static', filename='images/terrance-and-phillip.png') }}"
        alt="505 error page"
      />
    </div>
    <div class="col-8">
      <h2 class="mt-5">Something has gone very wrong!</h2>
      <p>
        Sorry! Something has gone wrong with your submission. We'll start fixing this right away!
      </p>
    </div>
  </div>
</main>
{% endblock %}
